/* button {
    display: block;
   width:200;
   height:50px;
    margin-bottom: 10px;
    background-color:transparent;
    border: none;
    border-radius: 5px;;
     cursor: pointer;
} */

button:hover {
    background-color:green;
     cursor: pointer;
}