* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .active{
  color:green
} */

 /* div p{
  color:green
};  */
/* div > p{
  color:pink
};  */
 /* div + p{
  color:red
}; */
 /* div ~ p{
  color:yellow
};   */

/* th:nth-child(2n+1) {
  color:green
} */
/* tr:nth-child(2n+2){
  color:red
} */

/* div {
  & p{
    color : green;
  }
  & h1{
    color:red;
  }
} */

.container{
  display: grid;
margin: 0px;
height:100vh;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: repeat(3, 100px);
grid-gap: 5px;
  justify-content: center;
  align-content: center;
  
 
  grid-auto-rows:100px;
 
          
}
.firstclass{
  background-color: aquamarine;
grid-column: 1/4;
  
}
.secondclass{
  background-color: red;
grid-column: 1/4;
 
}
.thirdclass{
background-color: blue;
grid-row: 3/5;

}
.fourthclass{
  background-color: rebeccapurple;
  grid-column: 2/4;
}
.fifthclass{
  background-color: chartreuse;
  grid-column: 2/4;
}
.sixthclass{
  background-color: antiquewhite;
  grid-column: 1/4;
}
.seventhclass{
background-color:palevioletred;


}
.eightclass{
background-color:powderblue;

}
.nineclass{
  background-color:teal;

}


/* input {
  display: block;
  height: 30px;
  width: 200px;
  margin: 10px;
} */

tr:nth-child(2n) {
  background-color: brown;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step-line {
  height: 4px;
  width: 50px;
  background-color: #ccc;
}

/* button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
} */